[submodule "deps/mmengine"]
	path = deps/mmengine
	url = https://github.com/open-mmlab/mmengine.git
[submodule "deps/mmdetection"]
	path = deps/mmdetection
	url = https://github.com/open-mmlab/mmdetection.git
[submodule "deps/mmsegmentation"]
	path = deps/mmsegmentation
	url = https://github.com/open-mmlab/mmsegmentation.git
[submodule "deps/mmdeploy"]
	path = deps/mmdeploy
	url = https://github.com/open-mmlab/mmdeploy.git
[submodule "deps/mmdetection3d"]
	path = deps/mmdetection3d
	url = https://github.com/open-mmlab/mmdetection3d.git
[submodule "deps/mmpretrain"]
	path = deps/mmpretrain
	url = https://github.com/open-mmlab/mmpretrain.git
[submodule "deps/mmcv"]
	path = deps/mmcv
	url = https://github.com/open-mmlab/mmcv.git
